/* Common elements ---------------------- */
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.ttf');
}

* {
  font-family: 'Roboto', 'sans-serif';
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

header,
.hero,
footer {
  background-color: #1f2937;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  font-size: 18px;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

a:hover {
  color: #e5e7ebad;
}

h2 {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 50px;
}

button {
  outline: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 35px;
  padding-right: 35px;
  font-weight: bold;
  border-radius: 10px;
  font-size: 16px;
}

button:hover{
  cursor: pointer;
}


/* Navigation ---------------------- */
nav {
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
  padding-bottom: 15px;
  align-items: center;
}

.logo {
  max-width: 40%;
  height: auto;
}

/* Hero ------------------- */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 90px;
  padding-left: 90px;
  padding-top: 40px;
  padding-bottom: 40px;
  gap: 50px;
}

.hero-text {
  max-width: 30%;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.hero-text p {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 15px;
}

.hero-image {
  max-width: 30%;
  max-height: 30%;
}

.hero button {
  background-color: #3882F6;
  color: #fff;
  border: none;
  
}

.hero button:hover {
  background: #3163b3;
}

/* Releases --------------- */
.releases {
  padding-top: 80px;
  padding-bottom: 80px;
}

.releases-container {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 50px;
}

.release {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
}

.release-image {
  border-radius: 25%;
  border: 5px solid #3882F6;
  width: 250px;
  height: 250px;
}

/* Quote ------------------ */
.quote {
  background: #e5e7eb;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 150px;
  padding-right: 150px;
}

.quote-text {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  text-align: center;
}

.quote-author {
  font-size: 18px;
  font-weight: bold;
  text-align: end;
}

/* Signup ------------------ */
.signup {
  display: flex;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 150px;
  padding-right: 150px;
}

.signup h2 {
  color: #fff;
  font-weight: 500;
  text-align: left;
  margin: 0px;
}

.signup-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #3882f6;
  width: 70%;
  margin: auto;
  border-radius: 4%;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
  color: #fff;
  gap: 100px;
}

.signup-container button {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
}

.signup-container button:hover {
  background: #fff;
  color: #000;
}

/* Footer ----------------------- */
footer {
  color: #fff;
  text-align: center;
  padding: 25px;
}


